* {
  box-sizing: border-box;
}

body {
  background-url: Url("https://cdn.hipwallpaper.com/i/97/1/gV0hcE.jpg");
}
h3 {
  color: #740001;
}

#app {
  padding-left: 0;
}

.content {
  padding: 50px;
}

.card,
.card:hover {
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
}

.card:hover {
  border-color: #800c0c;
  color: #f00c0c;
  cursor: pointer;
}

.card {
  margin: 20px;
}

.card-body {
  background: #740001;
}
